body {
	font-family: Arial Rounded MT Bold;
	background: #ffa;
	color: darkred;
}
p {font-size: 20px;
	color: blue;
	margin: 10px;
	line-height: 25px;
}
h2 {
	margin-top: 10px;
	margin-bottom: 0px;
}
span {
	font-size: 20px;
	color: blue;
	margin: 10px;
	line-height: 30px;
}